<section class="style-section">
  <h2>Add a Person</h2>

  <form action="#" class="create-form">

    <div class="form-row">
      <label class="form-label">First Name</label>
      <input type="text" class="form-control" name="first_name">
    </div>

    <div class="form-row">
      <label class="form-label">Last Name</label>
      <input type="text" class="form-control" name="last_name">
    </div>

    <div class="form-row">
      <label class="form-label">Address </label>
      <textarea class="form-control" name="address"></textarea>
    </div>

    <input type="submit" value="Create Person" class="form-button">
  </form>
</section>