<section class="style-section">


  <div class="person">
    <div class="actions">
      <a href="#">edit</a>
    </div>

    <%= person.first_name %>
    <%= person.last_name %>
    <blockquote>
      <%= person.address %>
    </blockquote>
  </div>
</section>





